/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

footer {
    position: absolute;
    left:10px;
    bottom: 20px;
    width: 100%;
}

.modal {
    height:auto;
    padding:inherit;
    top:auto;
    left:auto;
    bottom:auto;
    right:auto;
}